<mat-toolbar [style.backgroundColor]="'#888888'">
    <label class="headtxt">ระบบจัดการสินค้า</label>
  </mat-toolbar>

      <h1 style="font-size: 30px;color: black;text-align: center;">เพิ่มข้อมูล</h1>

  <main>
    <mat-card style="background-color: #a7a7a4">
      <form class="example-form">
          <mat-form-field class="example-full-width">
              <textarea matInput placeholder="ชื่อสินค้า" [(ngModel)]="select.name" name="productName"></textarea>
            </mat-form-field>
          </form>
          <form class="example-form">
              <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="รหัสสินค้า(P01234)" [(ngModel)]="select.code" name="productCode"></textarea>
                </mat-form-field>
              </form>

          <form class="example-form">

          <mat-form-field class="example-full-width">
              <mat-label>ประเภทสินค้า</mat-label>
              <mat-select [(ngModel)] = "select.types" name = "types">
                <mat-option *ngFor="let type of types" [value]="type.typesID">
                    {{type.types}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>

          <form class="example-form">
              <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="รายละเอียด" [(ngModel)] = "select.detail" name="productDetail"></textarea>
              </mat-form-field>
          </form>
          <form class="example-form">
                  <input type="file" (change)="uploadPic($event, p)" accept=".png, .jpg, .PNG, .JPG, JPEG" />
          </form>
          <br><br>
          <form class="center">
                <button mat-button style="width: 20%; background-color: rgb(245, 170, 49)" (click)="save()"><b>เพิ่ม</b></button>&nbsp;&nbsp;
                <button mat-button style="width: 20%; background-color: rgb(245, 170, 49)" [routerLink]="['/']"><b>กลับ</b></button>
              </form>
      </mat-card>
  </main>
