table {
  width: 79%;
   margin: auto;
   margin-top: 5%;
  color: black;
  background-color: rgb(53, 53, 53);
}

/*main {
  width: 100%;
  height: 790px;
  background-image: url(src/pic/19744.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}*/

.mat-form-field {
  font-size: 18px;
  width: 70%;
  color: black;
}
#blockup{
  width: 100%;
  height: 60px;
  background-color:'#000000';
  text-align: left;
  float: left;

}

mat-card {
  max-width: 75% ;
  margin: auto auto;
}
#blockleft{
  width: 30%;
  height: 700px;
  background-color: rgb(27, 218, 43);
  text-align: left;
  float: left;
}
#block{
  width: 40%;
  height: 700px;
  background-color: rgb(122, 118, 122);
  text-align:left;
  float: center;
}
#blockInleft{
  width: 60%;
  height: 700px;
  background-color: rgb(27, 142, 218);
  text-align: center;
  float: center;
}
.example-form {
  margin: auto;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: rgb(10, 3, 3);

}
.center{
  margin-left:45%;
  margin-top: 5%;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: rgb(10, 3, 3);
}

.example-full-width {
  width: 100%;
  color: black;

}
